<html>

<head>
    <title>Sponsor a Child</title>
    <link rel="icon" href="./assets/logo.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles.css">
    <script src="./assets/script.js"></script>
</head>

<body tabindex="0">

    <div class="header">
        <a href="https://childrenofzionvillage.org/">
            <img
                src="./assets/logo.jpg">
            <div>Children Of Zion Village</div>
        </a>
    </div>

    <div class="paragraph">
        <p class="emph">YOU CAN HELP CHANGE A CHILD'S LIFE TODAY!</p>
        <p>Children of Zion Village is a place some of Namibia's most vulnerable children call home. These children
            would go malnourished, live in unsafe conditions or even be trafficked, if it were not for the generosity of
            donors like you keeping its doors open.</p>
        <p>For $30 a month, you can sponsor a child. This money helps to pay for food, housing, clean water, clothing,
            medical care, and school tuition. Your child sponsorship affords us the opportunity to take in more children
            in need.</p>
        <p>$30 a month - that's one less dinner out, one less trip to Target, and it has the power to transform a
            child's life. Consider sponsoring one of these beautiful children today and see how God uses your
            generosity.</p>
        <p>Please scan through the pictures of the children and young adults currently under the care of COZV. By
            placing your cursor on a child's picture, you will discover their name, age, a few interesting facts. When
            you decide which child that you would like to sponsor, click on the sponsorship button. This button will
            take you to PayPal where you can sign up to sponsor that special child. If you would prefer to pay with a
            check, please send your payment to the USA address noted below.</p>
        <p>If you have any questions or need assistance with setting up your sponsorship, please email Cindy at <a
                href="mailto:info@childrenofzionvillage.org">info@childrenofzionvillage.org</a>.</p>
    </div>

    <div class="containercontainer">
    {% assign z = 99 %}
    {% for child in site.data.children %}
        <div class="container" style="z-index: {{ z }};">
            <div class="move">
                <div class="imgc">
                    <img loading="lazy" src="./assets/children/{{ child.image }}">
                </div>
                <span class="name">{{ child.name }}</span>
            </div>
            <p class="text">Name: {{ child.name }}<br>
                Age: {{ child.age }}<br>
                Grade: {{ child.grade }}<br>
                Favorite activity: {{ child.activity }}<br>
                When I grow up: {{ child.future }}<br><br>
            </p>
            <FORM ACTION="https://www.paypal.com/cgi-bin/webscr" METHOD="POST" target="_blank">
                <INPUT TYPE="hidden" NAME="cmd" VALUE="_donations">
                <INPUT TYPE="hidden" NAME="business" VALUE="info@childrenofzionvillage.org">
                <INPUT TYPE="hidden" NAME="item_name" VALUE="Sponsorship for {{ child.name }}">
                <INPUT TYPE="hidden" NAME="return"
                    VALUE="https://sites.google.com/mzprays.org/cozv/get-involved/give/2020-sponsorship-drive/thank-you">
                <INPUT TYPE="hidden" NAME="cancel_return"
                    VALUE="https://sites.google.com/mzprays.org/cozv/get-involved/give/2020-sponsorship-drive">
                <INPUT class="sponsor" TYPE="image" SRC="./assets/button.png" BORDER="0" NAME="submit" ALT="Sponsor {{ child.name }}">
            </FORM>
        </div>
        {% assign z = z | minus: 1 %}
    {% endfor %}
    </div>
</body>

</html>